class ReadysetCaches < Readyset::Caches
<% queries.each do |query| -%>
  cache always: <%= query.always %> do
    <<~SQL
      <%= query.text.gsub("\n", "\n      ") %>
    SQL
  end

<%- end -%>
end

